/* William BRISA - Premiere Page HTML */
/* Septembre 2019 */
/* Feuille de style en cascade */

/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* MAIN */
html {
    font-family: Lato, Tahoma, Verdana, Geneva, sans-serif;
}

body {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.05);
}

img {
    height:auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
}


/* MAIN SECTION */
h1 {
    text-align: center;
} 

h3 {
    text-align: center;
}

nav {
    text-align: center;
}


/* ARTICLE SECTION */
article {
    width: 45%;
    float: left;
    margin: 2em;
}

td {
    padding: 0.7em 1em 0.7em 0.7em;
    text-align: center;
}

aside {
    width: 40%;
    float: left;
    margin: 2em;
}


/* FOOTER */
footer {
    width: 100%;
    clear: both;
}       